h1 {
  color: black;
  font-size: 60px;
  font-family: "Henny Penny", cursive;
  text-align: center;
}
h2 {
  color: black;
  font-size: 60px;
  font-family: "Henny Penny", cursive;
  text-align: left;
}

input[type="number"] {
  width: 40px;
}

.row-1,
.row-2,
.row-3 {
  display: inline-block;
}

.column-1,
.column-2,
.column-3 {
  height: 96px;
  width: 96px;
  border: 5px solid black;
}
.column-1 img,
.column-2 img,
.column-3 img {
  height: 96px;
  width: 96px;
  object-fit: contain;
}
