h1 {
  color: #d32121;
  font-size: 60px;
  font-family: "Henny Penny", cursive;
  text-align: center;
}
div {
  border: 5px solid black;
  border-collapse: collapse;
  text-align: center;
}

.row-1,
.row-2,
.row-3 {
  display: inline-block;
  border: 5px solid black;
  border-collapse: collapse;
}

.colum-1,
.colum-2,
.colum-3 {
  height: 96px;
  width: 96px;
  border: 5px solid black;
  border-collapse: collapse;
  display: inline-block;
}
.colum-1 img,
.colum-2 img,
.colum-3 img {
  height: 96px;
  width: 96px;
  object-fit: contain;
  border: 5px solid black;
  border-collapse: collapse;
}
