body {
  background-color: azure;
}
h1 {
  font-size: 500%;
  color: darkmagenta;
  font-family: fantasy;
  text-align: center;
  background-color: teal;
  /*margin-left: 300px;
  margin-bottom: 200px;*/
  margin: 100px;
  /*el amaterior aplica un margen a los 4 lados*/
}

h2 {
  color: crimson;
  font-family: fantasy;
  background-color: rebeccapurple;
  display: inline-block;
}
/*p {
  color: darkmagenta;
  font-family: fantasy;
}
*/
.columna {
  background-color: tomato;
  color: powderblue;
  padding: 20px;
  width: 25%;
  margin: 10px;
}
.padre {
  display: flex;
}
.linea {
  display: inline-block;
}
a {
  background-color: rosybrown;
  display: block;
  margin-right: 200px;
}
a:hover {
  background-color: royalblue;
}
button {
  background-color: #091353;
  color: #c89595;
  font-size: 20px;
}
button:hover {
  background-color: #c996cc;
  color: #a2416b;
}
button:active {
  background-color: #14279b;
}
